{% extends 'mobile/index.html' %} 
{% load static %}
{% block title %} Home Mobile {% endblock %} 
{% load humanize %}
{% block container %}

<script>
    function change_location(sel) {
        var location = sel.options[sel.selectedIndex].value;
        console.log(location);
        var url = "/mobile/home/" + location;
        window.location.href = url; 
        
    }   
</script>

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {%if totalRejected > 0 or totalDeleted > 0%}
            <div class="row mt-5 pt-3">             
                <div class="col-sm-12">                                
                    <div class="alert alert-danger" role="alert"> 
                        {%if totalRejected > 0 %}
                            <p>You  have {{totalRejected}} Dailys Rejected</p>   
                        {%elif totalDeleted > 0%}                                             
                            <p>You  have {{totalDeleted}} Dailys Deleted</p>  
                        {% endif %}
                    </div>                                                                    
                </div>
            </div>
            <div class="row"> 
        {% else %}
            <div class="row mt-5 pt-3">
        {%endif%}
                
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  {% comment %} <h5 class="card-title">Welcome {{emp.first_name}} {{emp.last_name}}</h5> {% endcomment %}
                   <p class="card-text"></p>
                   <ul class="list-unstyled">
                        <li class="mb-2 d-flex justify-content-between">                                          
                            <div>
                                <i class="fas fa-map-marker-alt"></i> 
                                
                                <select name="location" id="location" onchange="change_location(this);">
                                
                                    {% for loc in locationList %}
                                        {% if loc.LocationID|slugify == selectedLocation|slugify %}
                                            <option value="{{loc.LocationID}}" selected>{{loc.name}}</option>
                                        {% else %}
                                            <option value="{{loc.LocationID}}">{{loc.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div><i class="fas fa-calendar-alt"></i> <strong>Period: </strong>
                                {% if period and period.periodID == -1 %}
                                    No Active Period
                                {% else %}
                                    {{ period.periodID }}
                                {% endif %}
                            </div>
                            
                            <div><i class="fas fa-calendar-week"></i> <strong>Week: </strong> 
                                 {% if period and period.periodID == -1 %}
                                    No Active Period
                                {% else %}
                                    {{period.weekRange}} 
                                {% endif %}
                            
                            </div>
                        </li> 

                     <li class="mb-2 d-flex justify-content-between">                                          
         
                        
                      </li>
                
                    <li class="mb-2 d-flex">
                      <div style="margin-right: 25px;"><i class="fas fa-calendar-day"></i> <strong>From:</strong>  {{period.fromDate|date:"m-d-Y"}}</div>
                      <div class="pl-3"><i class="fas fa-calendar-day"></i> <strong>To:</strong>  {{period.toDate|date:"m-d-Y"}}</div>
                    </li>

                    <li class="mb-2">
                      <i class="fas fa-money-check-alt"></i> <strong>Pay Date:</strong> 
                      {% if period and period.periodID == -1 %}
                            No Active Period
                      {% else %}
                            {{period.payDate|date:"Y-m-d"}}
                      {% endif %}  
                    </li> 
                  </ul>
                </div>
              </div>
              {{message}}
            </div>   
        </div>

        <div class="col-sm-12">
          <div class="card mt-3">
              <h6 class="card-header card-header-wc">Week 1</h6>
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-12">
                          {% for item in week1 %}                                                                        
                              {% if item.selected %}
                                  <a class="btn btn-success position-relative px-2 mx-2 my-2" style="text-align:center !important; width: 5.5em;" href="/mobile/crew/{{item.actual_period.id}}/{{item.day}}/0/{{selectedLocation}}"> 
                                      {{item.shortDate}}                                            
                                  </a> 
                              {% else %}
                                  <a class="btn btn-primary position-relative px-2 mx-2 my-2" style="text-align:center !important; width: 5.5em;" href="/mobile/crew/{{item.actual_period.id}}/{{item.day}}/0/{{selectedLocation}}"> 
                                      {{item.shortDate}}
                                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-{{item.type}}" style="font-size:0.7rem;">
                                      {{item.Total|intcomma}}                                            
                                      </span>
                                  </a> 
                              {% endif %}                                       
                          {% endfor %}  
                          
                          <input class="form-control" type="text" placeholder="day Selected" aria-label="day Selected" id="daySelected" style="display: none">                             
                      </div>
                  </div>                               
              </div> 
          </div>
      </div>     
      <!--<div class="col-sm-12 pb-5 mb-3">
          <div class="card mt-3 ">
              <h6 class="card-header card-header-wc">Week 2</h6>
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-12">                               
                          {% for item in week2 %}                                 
                              
                              {% if item.selected %}
                                  <a class="btn btn-success position-relative px-2 mx-2 my-2" style="text-align:center !important; width: 5.5em;" href="/mobile/crew/{{period.id}}/{{item.day}}/0/{{selectedLocation}}"> 
                                      {{item.shortDate}}                                            
                                  </a> 
                              {% else %}
                                  <a class="btn btn-primary position-relative px-2 mx-2 my-2" style="text-align:center !important; width: 5.5em;" href="/mobile/crew/{{period.id}}/{{item.day}}/0/{{selectedLocation}}"> 
                                      {{item.shortDate}}
                                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success" style="font-size:0.7rem;">
                                      {{item.Total|intcomma}}                                            
                                      </span>
                                  </a> 
                              {% endif %}                                       
                          {% endfor %}  
                      </div>
                  </div>                   
              </div> 
          </div>
      </div>  -->     


      <!-- Rejected Dailys    -->

      <div class="col-sm-12 pb-5 mb-3">
          <div class="card mt-3 ">
              <h6 class="card-header card-header-wc">Rejected</h6>
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-12">                                                       
                          {% for item in rejectedDailys %}      
                           <div class="d-flex justify-content-left align-items-bottom">
                                <i class="fas fa-briefcase mr-2" style="padding-bottom: 15px;"></i> 
                                <p id="address" name="address" style="margin-left: 10px">{{item.woID.prismID}} - {{item.woID.workOrderId}} - {{item.woID.PO}}</p>   
                                <i class="fas fa-map-marker-alt mr-2 ml-3" style="padding-bottom: 15px; margin-left: 10px;"></i> 
                                <p id="address" name="address" style="margin-left: 10px">{{item.woID.JobAddress}}</p>                                                                   
                            </div>
                          {% endfor %}                                       

                      </div>
                  </div>                   
              </div> 
          </div>
      </div> 

  </form>       
</div>
{% endblock %}