{% extends 'mobile/index.html' %} 
{% load static %}
{% block title %} Home Mobile {% endblock %} 
{% load humanize %}
{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
      
        <div class="row mt-3 pt-5">             
            <div class="col-12">
              <div class="card mt-3">
                <div class="card-body">
                  <h5 class="card-title">Welcome {{emp.first_name}} {{emp.last_name}}</h5>
                   <p class="card-text"></p>
                  <ul class="list-unstyled">
                    <li class="mb-2">                      
                      <i class="fas fa-calendar-alt"></i> Period: {{period.periodID}}  
                    </li>
                    <li class="mb-2">
                      <i class="fas fa-map-marker-alt"></i> Location: {{ emp.Location }}
                    </li>
                    <li class="mb-2">
                      <i class="fas fa-calendar-week"></i> Week: {{period.weekRange}}
                    </li>
                    <li class="mb-2">
                      <i class="fas fa-calendar-day"></i> From Date: {{period.fromDate}}
                    </li>
                    <li class="mb-2">
                      <i class="fas fa-calendar-day"></i> To Date: {{period.toDate}}
                    </li>
                    <li class="mb-2">
                      <i class="fas fa-money-check-alt"></i> Pay Date: {{period.payDate}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>   
        </div>

        <div class="col-sm-5">
          <div class="card mt-3">
              <h6 class="card-header card-header-wc">Week 1</h6>
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-12">
                          {% for item in week1 %}                                                                        
                              {% if item.selected %}
                                  <a class="btn btn-success position-relative px-2 mx-3 my-2" style="text-align:start !important;" href="crew/{{period.id}}/{{item.day}}/0/{{selectedLocation}}"> 
                                      {{item.shortDate}}                                            
                                  </a> 
                              {% else %}
                                  <a class="btn btn-primary position-relative px-2 mx-3 my-2" style="text-align:start !important;" href="crew/{{period.id}}/{{item.day}}/0/{{selectedLocation}}"> 
                                      {{item.shortDate}}
                                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success" style="font-size:0.7rem;">
                                      {{item.Total|intcomma}}                                            
                                      </span>
                                  </a> 
                              {% endif %}                                       
                          {% endfor %}  
                          <input class="form-control" type="text" placeholder="day Selected" aria-label="day Selected" id="daySelected" style="display: none">                             
                      </div>
                  </div>                               
              </div> 
          </div>
      </div>     
      <div class="col-sm-5 pb-5">
          <div class="card mt-3">
              <h6 class="card-header card-header-wc">Week 2</h6>
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-12">                               
                          {% for item in week2 %}                                 
                              
                              {% if item.selected %}
                                  <a class="btn btn-success position-relative px-2 mx-3 my-2" style="text-align:start !important;" href="crew/{{period.id}}/{{item.day}}/0/{{selectedLocation}}"> 
                                      {{item.shortDate}}                                            
                                  </a> 
                              {% else %}
                                  <a class="btn btn-primary position-relative px-2 mx-3 my-2" style="text-align:start !important;" href="crew/{{period.id}}/{{item.day}}/0/{{selectedLocation}}"> 
                                      {{item.shortDate}}
                                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success" style="font-size:0.7rem;">
                                      {{item.Total|intcomma}}                                            
                                      </span>
                                  </a> 
                              {% endif %}                                       
                          {% endfor %}  
                      </div>
                  </div>                   
              </div> 
          </div>
      </div>                
  </form>       
</div>
{% endblock %}