{% extends 'index.html' %} 
{%load static%}
{% block title %} Work Order {% endblock %} 

{% block container %}

<script>
    function confirmDelete(itemID) {        
     
        if (confirm("Are you sure you want to Restore this Work Order?")) {
            window.location.href = `/restore_delete_order/${itemID}`;
        }
     
    }
</script>  

<div class="container">
    <form method='post' action="{{request.path}}" enctype="multipart/form-data">
        {% csrf_token %}      
        <div class="row">
            <div class="col-lg-12">
                <div class="card rounded">
                    <h6 class="card-header card-header-wc" >Deleted Work Order</h6>
                    <div class="card-body">                    
                            <div class="row">
                                <div class="col-sm-12">
                                    <table>
                                        {{ form.as_table }}   
                                    </table>
                                </div>                                                         
                                                          
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-6">  
                                    <div class="form-outline" style="align-items: center;">
                                        {%if user.is_staff or emp.is_superAdmin%}
                                            <a class="btn btn-warning" role="button" onclick="confirmDelete('{{form.instance.id}}')">Restore</a>
                                        {%endif%}
                                            <a href="/deleted_order_list/" type="button" class="btn btn-danger">Close</a>
                                        
                                        <!--
                                            <input class="btn btn-primary" type="submit" value="Save">
                                            
                                        -->
                                            
                                        
                                    </div>
                                </div>
                            </div>
                            {{message}}
                    </div>
                </div>                 
            </div>
        </div>      
    </form>
</div>
{% endblock %}