{% extends 'index.html' %} 
{%load static%}
{% block title %} CREATE ITEMS {% endblock %} 

{% block container %}

<script>
    function confirmDelete(is_used, included_in, itemID) {
        if (is_used == "True") {
            alert("This Item can't be deleted because it is used in " + included_in + ".");
        } else {
            if (confirm("Are you sure you want to delete this item?")) {
                window.location.href = `/delete_item/${itemID}`;
            }
        }
    }
</script>   

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}        

        <div class="row">
            <div class="col-lg-12">
                <div class="card rounded">
                    <h6 class="card-header card-header-wc">Update Item</h6>
                    <div class="card-body">                    
                            <div class="row">
                                  <!-- Using the formset -->
                                {{ form.as_p }}
                            </div>
                            <div class="row">
                                <div class="col-lg-6">  
                                    <div class="form-outline" style="align-items: center;">                                       
                                        <!-- <input type="submit" value="Save"> -->
                                        <input class="btn btn-primary" type="submit" value="Update">
                                        <a class="btn btn-danger" href="/item_list/" role="button">Close</a>
                                        {%if user.is_staff or emp.is_superAdmin%}
                                            <a class="btn btn-success" role="button" onclick="confirmDelete('{{is_used}}', '{{included_in}}', '{{form.itemID.value}}')">Delete Item</a>
                                        {%endif%}
                                        
                                    </div>
                                </div>
                            </div>                                    
                    </div>
                </div>                 
            </div>
        </div>      
    </form>
</div>
{% endblock %}